Import pandas

In [18]:
import pandas as pd

Read the `imdb_top_1000.csv` file with the following columns:

`['Series_Title' ,'IMDB_Rating', 'No_of_Votes', 'Gross', 'Released_Year', 'Genre']`

In [19]:
df = pd.read_csv(
    "imdb_top_1000.csv",
    usecols=[
        "Series_Title",
        "IMDB_Rating",
        "No_of_Votes",
        "Gross",
        "Released_Year",
        "Genre",
    ],
)
df.head()

,Series_Title,Released_Year,Genre,IMDB_Rating,No_of_Votes,Gross
0,The Shawshank Redemption,1994,Drama,9.3,2343110,"28,341,469"
1,The Godfather,1972,"Crime, Drama",9.2,1620367,"134,966,411"
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,2303232,"534,858,444"
3,The Godfather: Part II,1974,"Crime, Drama",9.0,1129952,"57,300,000"
4,12 Angry Men,1957,"Crime, Drama",9.0,689845,"4,360,000"

Find the lowest scored movie with the lowest amount of votes

In [20]:
df.nsmallest(n=1, columns=["IMDB_Rating", "No_of_Votes"])

,Series_Title,Released_Year,Genre,IMDB_Rating,No_of_Votes,Gross
989,The Long Goodbye,1973,"Comedy, Crime, Drama",7.6,26337,"959,000"

Find the top 5 genres

In [21]:
df.value_counts("Genre").head()

Genre
Drama                     85
Drama, Romance            37
Comedy, Drama             35
Comedy, Drama, Romance    31
Action, Crime, Drama      30
Name: count, dtype: int64

**_Bonus: What are the top 3 grossing movies?_**

In [22]:
df["Gross"] = df["Gross"].str.replace(",", "")
df["Gross"].fillna(0, inplace=True)
df["Gross"] = df["Gross"].astype("int64")

C:\Users\harsh\AppData\Local\Temp\ipykernel_12028\958508843.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Gross"].fillna(0, inplace=True)

In [23]:
df.nlargest(n=3, columns=["Gross"])

,Series_Title,Released_Year,Genre,IMDB_Rating,No_of_Votes,Gross
477,Star Wars: Episode VII - The Force Awakens,2015,"Action, Adventure, Sci-Fi",7.9,860823,936662225
59,Avengers: Endgame,2019,"Action, Adventure, Drama",8.4,809955,858373000
623,Avatar,2009,"Action, Adventure, Fantasy",7.8,1118998,760507625