Import pandas

In [1]:
import pandas as pd

Create a DatetimeIndex with 3 different timestamps and assign it to a variable called `dates`

In [2]:
dates = pd.DatetimeIndex(
    [
        pd.Timestamp("2024-11-25"),
        pd.Timestamp("2024-12-25"),
        pd.Timestamp("2025-01-25"),
    ]
)

# dates = pd.to_datetime(['2024-11-25', "2024-12-25", "2025-01-25"])

dates

DatetimeIndex(['2024-11-25', '2024-12-25', '2025-01-25'], dtype='datetime64[ns]', freq=None)

Find the time between each one of these dates

In [3]:
dates.to_series().diff()

2024-11-25       NaT
2024-12-25   30 days
2025-01-25   31 days
dtype: timedelta64[ns]

Create a DataFrame with the `dates` as the index and add 3 new columns that hold the day name, month name, and the year.

In [ ]:
years = pd.date_range(start="2024-07-20", end="2024-12-09")
dates = pd.DataFrame(index=years, columns=["Day", "Month", "Year"])
dates.set_index(years, inplace=True)
dates.head()

            Day Month Year
2024-07-20  NaN   NaN  NaN
2024-07-21  NaN   NaN  NaN
2024-07-22  NaN   NaN  NaN
2024-07-23  NaN   NaN  NaN
2024-07-24  NaN   NaN  NaN

In [ ]:
dates["Year"] = dates.index.year
dates["Day"] = dates.index.day_name()
dates["Month"] = dates.index.month_name()
dates

                  Day     Month  Year
2024-07-20   Saturday      July  2024
2024-07-21     Sunday      July  2024
2024-07-22     Monday      July  2024
2024-07-23    Tuesday      July  2024
2024-07-24  Wednesday      July  2024
...               ...       ...   ...
2024-12-05   Thursday  December  2024
2024-12-06     Friday  December  2024
2024-12-07   Saturday  December  2024
2024-12-08     Sunday  December  2024
2024-12-09     Monday  December  2024

[143 rows x 3 columns]

In [6]:
del_indices = dates[(dates["Day"] == "Saturday") | (dates["Day"] == "Sunday")].index

dates.drop(del_indices, inplace=True)

dates

                  Day     Month  Year
2024-07-22     Monday      July  2024
2024-07-23    Tuesday      July  2024
2024-07-24  Wednesday      July  2024
2024-07-25   Thursday      July  2024
2024-07-26     Friday      July  2024
...               ...       ...   ...
2024-12-03    Tuesday  December  2024
2024-12-04  Wednesday  December  2024
2024-12-05   Thursday  December  2024
2024-12-06     Friday  December  2024
2024-12-09     Monday  December  2024

[101 rows x 3 columns]

Fill in the gaps of our DataFrame with every missing date (between our 3 dates), and make sure there are no NaNs

In [7]:
indices = pd.date_range(start="2024-07-20", end="2024-12-09")

dates = dates.reindex(index=indices, fill_value="CLOSED")

In [8]:
dates.head()

                  Day   Month    Year
2024-07-20     CLOSED  CLOSED  CLOSED
2024-07-21     CLOSED  CLOSED  CLOSED
2024-07-22     Monday    July    2024
2024-07-23    Tuesday    July    2024
2024-07-24  Wednesday    July    2024

Convert our DatetimeIndex to a PeriodIndex which represents a whole day per date.

In [9]:
pd.PeriodIndex(dates.index)

PeriodIndex(['2024-07-20', '2024-07-21', '2024-07-22', '2024-07-23',
             '2024-07-24', '2024-07-25', '2024-07-26', '2024-07-27',
             '2024-07-28', '2024-07-29',
             ...
             '2024-11-30', '2024-12-01', '2024-12-02', '2024-12-03',
             '2024-12-04', '2024-12-05', '2024-12-06', '2024-12-07',
             '2024-12-08', '2024-12-09'],
            dtype='period[D]', length=143)